<link rel="stylesheet" href="/css/admin_view.css">

<div id="main-container">
    <div id="inner-container">
        <div class="button">
            <span><a href="/admin/manage-employees">Manage Employees</a></span>
        </div>

        <div class="button">
            <span><a href="/admin/manage-reviews">Manage Performance Reviews</a></span>
        </div>
    </div>
</div>