<link rel="stylesheet" href="<%= assetPath('css/admin_view.css') %>">

<div id="main-container">
    <div id="inner-container">
        <div class="button">
            <a href="/admin/manage-employees">Manage Employees</a>
        </div>

        <div class="button">
            <a href="/admin/manage-reviews">Manage Performance Reviews</a>
        </div>
    </div>
</div>