<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <section id="header">
            <%- include('_header') %>
        </section>
        
        <section id="layout-main">
            <%- body %>
        </section>
        
        <section id="footer">
            <%- include('_footer') %>
        </section>
    </body>
</html>