#form-container{
    background-color: #eeeeee;
    height: 100%;

    #main{
        width: max-content;
        margin: 140px auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0px 28px;
        background-color: #12428a;
        border-radius: 5px;
        border: 1px solid white;
    
        h2{
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            color: #e7e7e7;
            margin-bottom: 0px;
        }
    
        .input-parent{
            display: block;
            margin-bottom: 20px;
    
            label{
                display: block;
                font-size: 16px;
                margin-bottom: 8px;
                color: #a4a4a4;
            }
    
            input{
                padding: 10px 8px;
                width: 100%;
                font-size: 16px;
                background: white;
                border: none;
                color: black;
                border-radius: 4px;
                outline: none;
    
                &:hover{
                    background: #edf2f4;
                }
    
                &:focus{
                    box-shadow: 0px 0px 0px 1px #f96b24;
                }
            }
        }
    
        button{
            padding: 10px 18px;
            font-size: 15px;
            background: #f57f44;
            width: 100%;
            border: none;
            border-radius: 4px;
            color: white;
    
            &:hover{
                opacity: 0.9;
            }
        }
    
        h6{
            color: #f4f4f4;
            text-align: center;

            &:first-of-type{
                margin-top: 0px;
                margin-bottom: 20px;
                color: #f96b24;
            }

            &:last-of-type{
                margin-top: 20px;
            }
    
            a{
                color: #f96b24;
                text-decoration: none;
            }

            span{
                display: none;
            }

            &:hover{
                span{
                    display: contents;
                }
            }
        }
    }
}