#form-container {
  background-color: #eeeeee;
  height: 100%; }
  #form-container #main {
    width: max-content;
    margin: 140px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 28px;
    background-color: #12428a;
    border-radius: 5px;
    border: 1px solid white; }
    #form-container #main h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: #e7e7e7;
      margin-bottom: 10px; }
    #form-container #main .input-parent {
      display: block;
      margin-bottom: 20px; }
      #form-container #main .input-parent label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        color: #a4a4a4; }
      #form-container #main .input-parent input {
        padding: 10px 8px;
        width: 100%;
        font-size: 16px;
        background: white;
        border: none;
        color: black;
        border-radius: 4px;
        outline: none; }
        #form-container #main .input-parent input:hover {
          background: #edf2f4; }
        #form-container #main .input-parent input:focus {
          box-shadow: 0px 0px 0px 1px #f96b24; }
    #form-container #main button {
      padding: 10px 18px;
      font-size: 15px;
      background: #f57f44;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: white;
      margin-bottom: 30px; }
      #form-container #main button:hover {
        opacity: 0.9; }
