#employee-view-container {
  min-height: 100%; }
  #employee-view-container .wrapper {
    width: 50vw;
    position: relative;
    left: 20vw;
    top: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    #employee-view-container .wrapper ul {
      display: inline-flex;
      padding: 0;
      margin: 0;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); }
      #employee-view-container .wrapper ul li {
        list-style: none; }
        #employee-view-container .wrapper ul li input {
          filter: blur(100px);
          display: none; }
        #employee-view-container .wrapper ul li label {
          background-color: #134a85;
          color: #fff;
          width: 30vw;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          cursor: pointer;
          font-weight: 600; }
        #employee-view-container .wrapper ul li input[id^="tab"]:checked + label {
          background-color: #fff;
          color: #0a2541; }
        #employee-view-container .wrapper ul li .tab_content {
          background-color: #fff;
          position: absolute;
          left: 0;
          top: 50px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          display: none; }
          #employee-view-container .wrapper ul li .tab_content #review-list {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow: auto;
            margin-top: 20px;
            width: 60vw;
            padding: 25px;
            box-sizing: border-box; }
            #employee-view-container .wrapper ul li .tab_content #review-list table {
              width: 100%;
              border-collapse: collapse;
              margin: auto; }
              #employee-view-container .wrapper ul li .tab_content #review-list table th, #employee-view-container .wrapper ul li .tab_content #review-list table td {
                padding: 10px 20px;
                font-size: 14px;
                text-align: center; }
                #employee-view-container .wrapper ul li .tab_content #review-list table th a, #employee-view-container .wrapper ul li .tab_content #review-list table td a {
                  border: none;
                  padding: 7px 20px;
                  border-radius: 5px;
                  background-color: #f83636;
                  color: #e6e7e8;
                  text-decoration: none; }
                #employee-view-container .wrapper ul li .tab_content #review-list table th #edit, #employee-view-container .wrapper ul li .tab_content #review-list table td #edit {
                  background-color: #45b405;
                  color: #0a2541; }
              #employee-view-container .wrapper ul li .tab_content #review-list table tr:hover td {
                color: white;
                cursor: pointer;
                background-color: #184e77; }
              #employee-view-container .wrapper ul li .tab_content #review-list table thead th {
                position: sticky;
                top: 0;
                background-color: #0a2541;
                color: #e6e7e8;
                font-size: 15px; }
        #employee-view-container .wrapper ul li input[id^="tab"]:checked ~ .tab_content {
          display: inline-block; }
        #employee-view-container .wrapper ul li .tab_content h1 {
          margin: 0;
          font-size: 32px; }
        #employee-view-container .wrapper ul li .tab_content p {
          font-size: 17px;
          margin: 0;
          text-align: justify; }
